### Set
Sets are defined with curly brackets `{}`. They are **unordered and don't have an index**. See description of indexing further down. Sets also have **unique items**.

#### Set syntax
   
<code> s = {item_1, item_2, ..., item_n} </code>

Set in Python is a data structure equivalent to sets in mathematics.

The primary idea about sets is the ability to perform set operations. These are known from mathematics and can determine the *union*, *intersection*, *difference* etc. of two given sets.

See for example these links for explanations on set operations: https://en.wikipedia.org/wiki/Set_(mathematics)#Basic_operations or https://snakify.org/en/lessons/sets/.

A list, string or tuple can be converted to a set by `set(sequence_to_convert)`. Since sets only have unique items, the set resulting from the operation has same values as the input sequence, but with duplicates removed. This can be a way to create a list with only unique elements. 

For example:
~~~python
# Convert list to set and back to list again with now only unique elements
list_uniques = list(set(list_with_duplicates))  
~~~

#### Mutability
Sets are ***mutable***. They can be changed after creation.

In [10]:
# create a set
set = {"a", "b", "c"}
set2 = {1, 2, 3, 4}
set3 = {"a", 1, True, 4}
print(set3)

{'a', 4, 1}

### Set Operation - Examples

In [1]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# Find the union of the two sets
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
# Find the intersection of the two sets
s1.intersection(s2)

{4, 5}

In [18]:
# find the difference of seta compated to setb
seta = {"a", "b", "c", "d", "e"}
sete = {"d", "e", "f", "g", "h"}
setdif = seta.difference(sete) 
print(setdif)

{'a', 'b', 'c'}

In [20]:
# find the difference of seta compared to set b then update set a
seta = {"a", "b", "c", "d", "e"}
sete = {"d", "e", "f", "g", "h"}
seta.difference_update(sete) 
print(seta)

{'c', 'a', 'b'}

In [23]:
# symmetric_difference - remove the duplicate items out of sets
set01 = {"a", "b", "c", "d", "e"}
set02 = {"c", "d", "e", "f", "g"}
set03 = set01.symmetric_difference(set02)
print(set03)

{'g', 'a', 'b', 'f'}

In [29]:
# symmetric_difference_update - remove the duplicate items out of set 01 then update set01
set01 = {1, 2, 3, 4, 5}
set02 = {4, 5, 6, 7, 8}
set01.symmetric_difference_update(set02)
print(set01)

{1, 2, 3, 6, 7, 8}

In [15]:
# Insert a set to another set
animals = {"cat", "dog", "bee"}
animals.update({"big", "chicken"})
print(animals)

{'big', 'cat', 'dog', 'bee', 'chicken'}

In [3]:
list_with_duplicates = [1, 2, 2, 3, 3, 4, 4, 5, 6]

# Create a set of the list (which removed duplicates)
s3 = set(list_with_duplicates)   
print(s3)

{1, 2, 3, 4, 5, 6}

In [4]:
# if we want list again without duplicated value
list(s3)

[1, 2, 3, 4, 5, 6]

In [11]:
# Set comprehension
aset = {i*i for i in range(5)}
print(aset)

{0, 1, 4, 9, 16}

In [13]:
# Access the items of a set
typeofball = {"football", "basket", "golf"}
for ball in typeofball:
    print(ball)

football
basket
golf

In [14]:
# Copy of a set
animals = {"cat", "dog", "tiger"}
print("animals: ", animals)

a_copy = animals.copy()
print("copy: ", a_copy)

animals:  {'tiger', 'cat', 'dog'}
copy:  {'tiger', 'cat', 'dog'}

### Bitwise Operator

In [31]:
# And &
set001 = {1, 2, 3, 4}
set002 = {3, 4, 5, 6}
print(set001 & set002)

{3, 4}

In [32]:
# Or |
set001 = {1, 2, 3, 4}
set002 = {3, 4, 5, 6}
print(set001 | set002)

{1, 2, 3, 4, 5, 6}

In [33]:
# XOR ^
set001 = {1, 2, 3, 4}
set002 = {3, 4, 5, 6}
print(set001 ^ set002)

{1, 2, 5, 6}

In [34]:
# Subtraction -
set001 = {1, 2, 3, 4}
set002 = {3, 4, 5, 6}
print(set001 - set002)

{1, 2}

### Remove item

In [36]:
# remove an item
fruits = {"apple", "banana", "coconut"}
fruits.remove("banana")
print(fruits)

{'coconut', 'apple'}

In [38]:
# remove an item not in set will cause error
fruits = {"apple", "banana", "coconut"}
fruits.remove("cherry")
print(fruits)

KeyError: 'cherry'

In [37]:
# discard an item
fruits = {"apple", "banana", "coconut"}
fruits.discard("banana")
print(fruits)

{'coconut', 'apple'}

In [39]:
# discard an item not in set will NOT cause error
fruits = {"apple", "banana", "coconut"}
fruits.discard("cherry")
print(fruits)

{'coconut', 'apple', 'banana'}

### set is unorder and unindex

In [40]:
letter = {"a", "b", "c"}
print(letter[1])

TypeError: 'set' object is not subscriptable

### Can not contain unhashable types

In [41]:
# create a set contain list
alist = [1,2,3]
a_set = {a, alist}
print(aset)

NameError: name 'a' is not defined