### Exercise 1
Extract the last and first element from the giving list
~~~python
L1 = [your input]
~~~

### Exercise 2
Extract the following list from `L1` defined above by use of slicing.

~~~python
[20, 30, 40]
~~~

### Exercise 3
Remove the duplicates from the following list:

~~~python
L2 = ['Hi', 'Hello', 'Hi!', 'Hey', 'Hi', 'hey', 'Hey']
~~~

### Exercise 4
Given the dictionary

~~~python
d = {2: 122, 3: 535, 't': 'T', 'rum': 'cola'}
~~~
Play around with extracting the values by calling out the keys for all key/value pairs.

### Exercise 5
Given the list

~~~python
n = [23, 73, 12, 84]
~~~


Create a `for` loop that prints:

~~~python
'23 sqaured is 529'
'73 sqaured is 5329'
'12 sqaured is 144'
'84 sqaured is 7056'
~~~

### Exercise 6
Use a list comprehension to create a new list with areas of the circles that have diameters defined by

~~~python
diameters = [10, 12, 16, 20, 25, 32]
~~~

### Exercise 7
From the following list, create a new list containing only the elements that have exactly five characters.  
~~~python
phonetic_alphabet = ['Alpha', 'Bravo', 'Charlie', 'Delta', 'Echo', 'Foxtrot']
~~~

### Exercise 8
Find the intersection of the two sets (elements that occur in both sets)
~~~python
s1 = {'HE170B', 'HE210B', 'HE190A', 'HE200A', 'HE210A', 'HE210A'}

s2 = {'HE200A', 'HE210A', 'HE240A', 'HE200A', 'HE210B', 'HE340A'}
~~~

### Exercise 9
Create a variable `fy` and set it equal to 435.

Given the tuple below, create a list where each value is:
* The value itself if the value is below `fy`
* `fy` if the value is larger than `fy`

~~~python
rebar_stresses = (125, 501, 362, 156, 80, 475, 489)
~~~

### Exercise 10
Given the tuple below, create a list where each value is:
* 0 if the value is positive
* The value itself is the value is negative and larger than -25
* -25 if the value is lower than -25

~~~python
T1 = (-18, -27, 2, -21, -15, 5)
~~~