# Exercise 1.1

In [1]:
import pandas as pd

# Import built-in libraries 'string' and 'random' 
import random
import string

# Get upper- and lowercase letters from 'string' library
lower = string.ascii_lowercase
upper = string.ascii_uppercase

# Create a dictionary with dummy data of integers and letters
d = {'Integers': [random.randint(1, 100) for i in range(1, 100)],
     'Lowercase': [random.choice(lower) for i in range(1, 100)],
     'Uppercase': [random.choice(upper) for i in range(1, 100)]}

# Create dataframe from dictionary
df = pd.DataFrame(d)

# df  # <- This would print all 100 rows

# Exercise 1.2

In [2]:
df.head(3)

   Integers Lowercase Uppercase
0        96         m         S
1        47         c         I
2        13         v         M

In [3]:
df.tail(4)

    Integers Lowercase Uppercase
95        63         d         J
96        17         j         D
97        11         v         V
98        76         p         B

# Exercise 1.3

In [4]:
dfk = df[df['Uppercase'] == 'K']
dfk.head()

    Integers Lowercase Uppercase
15        52         x         K
77        41         i         K

# Exercise 1.4

In [5]:
dfk = dfk.reset_index(drop=True)
dfk

   Integers Lowercase Uppercase
0        52         x         K
1        41         i         K

# Exercise 2.1

In [6]:
# Import csv file to dataframe
dfr = pd.read_csv('shear_key_forces.csv')
dfr.head()

     LC                    LC-title  Element_no  P[kN]    Shear_key
0  4033  Shear keys - W - 2553/2554    10100001    0.1  Shear_key20
1  4033  Shear keys - W - 2553/2554    10100002    0.1  Shear_key20
2  4033  Shear keys - W - 2553/2554    10100003    0.0  Shear_key20
3  4033  Shear keys - W - 2553/2554    10100004   -0.1  Shear_key19
4  4033  Shear keys - W - 2553/2554    10100005    0.0  Shear_key19

# Exercise 2.2

In [7]:
# Filer dataframe to contain only shear keys 
dfr = dfr[dfr['Shear_key'] != 'Not_a_shear_key']
dfr.head()

     LC                    LC-title  Element_no  P[kN]    Shear_key
0  4033  Shear keys - W - 2553/2554    10100001    0.1  Shear_key20
1  4033  Shear keys - W - 2553/2554    10100002    0.1  Shear_key20
2  4033  Shear keys - W - 2553/2554    10100003    0.0  Shear_key20
3  4033  Shear keys - W - 2553/2554    10100004   -0.1  Shear_key19
4  4033  Shear keys - W - 2553/2554    10100005    0.0  Shear_key19

# Exercise 2.3

In [8]:
dfr = dfr.drop('Element_no', axis=1)
dfr.head()

     LC                    LC-title  P[kN]    Shear_key
0  4033  Shear keys - W - 2553/2554    0.1  Shear_key20
1  4033  Shear keys - W - 2553/2554    0.1  Shear_key20
2  4033  Shear keys - W - 2553/2554    0.0  Shear_key20
3  4033  Shear keys - W - 2553/2554   -0.1  Shear_key19
4  4033  Shear keys - W - 2553/2554    0.0  Shear_key19

# Exercise 2.4

In [9]:
# Create groupby object and perform sum operation on it
dfr_sum = dfr.groupby(['Shear_key', 'LC', 'LC-title'], as_index=False).sum()
dfr_sum.head()

    Shear_key    LC                          LC-title  P[kN]
0  Shear_key1  4043        Shear keys - W - remaining    0.0
1  Shear_key1  4044  Top slab- beam shear keys activa -284.1
2  Shear_key1  4045               Protection concrete -300.6
3  Shear_key1  4046                          Backfill -855.8
4  Shear_key1  4047          Ballast concrete of 16.8 -900.3

The list of column labels `['Shear_key', 'LC', 'LC-title']` are the columns that are to be present in the resulting dataframe. The parameter `as_index` is by default `True`, which would create a multiindex out of all the column labels listed. By setting `as_index=False`, we reset to 0-indexing.

# Exercise 2.5

In [10]:
# Filter for shear key 1
df_key1 = dfr_sum[dfr_sum['Shear_key'] == 'Shear_key1']

# Use built-in pandas plot
df_key1.plot(kind='bar', x='LC', y='P[kN]', rot=45, figsize=(15, 5), color='orange', alpha=0.50)

> **Note:** The same plot could be constructed by extracting arrays in columns `'LC'` and `'P[kN]'` to variables and using `matplotlib` itself as `plt.bar(...)`. To do that, you would have to import `matplotlib.pyplot as plt`.
`pandas` just provides a shortcut to get a fast graph out.

# End of exercises

*The cell below is for setting the style of this document. It's not part of the exercises.*

In [11]:
from IPython.display import HTML
HTML('<style>{}</style>'.format(open('../css/cowi.css').read()))